@tailwind base;
@tailwind components;
@tailwind utilities;

.first-letter:first-letter {
  @apply text-4xl;
}

.header-section {
  position: relative;
  z-index: 10;
  @apply pl-6;
}

.header-section:after {
  content: '';
  display: inline-flex;
  position: absolute;
  width: 30px;
  height: 30px;
  right: -48px;
  top: -18px;
  @apply bg-helper;
}

.header-section:before {
  content: '';
  display: inline-flex;
  position: absolute;
  width: 118px;
  height: 30px;
  left: 0;
  top: 24px;
  z-index: -1;
  @apply bg-helper;
}

.header-section-reverse {
  position: relative;
  z-index: 10;
  @apply pl-6;
}

.header-section-reverse:before {
  content: '';
  display: inline-flex;
  position: absolute;
  width: 30px;
  height: 30px;
  left: -8px;
  top: -24px;
  @apply bg-helper;
}

.header-section-reverse:after {
  content: '';
  display: inline-flex;
  position: absolute;
  width: 118px;
  height: 30px;
  right: -28px;
  top: 32px;
  z-index: -1;
  @apply bg-helper;
}

.out-link {
  @apply font-bold;
  @apply border-b-2;
  @apply border-nav;
}

.text-shadow {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.prize > div:nth-child(3n+2) {
  position: relative;
  top: -120px;
}
