/* TODO: move to local */
@import url('https://fonts.googleapis.com/css2?family=Tomorrow:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: 'Tomorrow', sans-serif;
  scroll-behavior: smooth;
}

.first-letter:first-letter {
  @apply text-4xl;
}

.header-section {
  position: relative;
  z-index: 10;
  @apply pl-6;
}

.header-section:after {
  content: '';
  display: inline-flex;
  position: absolute;
  @apply w-3;
  @apply xl:w-6;
  @apply h-3;
  @apply xl:h-6;
  @apply -right-4;
  @apply xl:-right-6;
  @apply -top-2;
  @apply xl:-top-5;
  @apply bg-helper;
}

.header-section:before {
  content: '';
  display: inline-flex;
  position: absolute;
  width: 118px;
  @apply h-3;
  @apply xl:h-6;
  left: 0;
  top: 24px;
  z-index: -1;
  @apply bg-helper;
}

.header-section-reverse {
  position: relative;
  z-index: 10;
  @apply pl-6;
}

.header-section-reverse:before {
  content: '';
  display: inline-flex;
  position: absolute;
  @apply w-3;
  @apply xl:w-6;
  @apply h-3;
  @apply xl:h-6;
  @apply left-2;
  @apply xl:-left-1;
  @apply -top-2;
  @apply xl:-top-5;
  @apply bg-helper;
  @apply bg-helper;
}

.header-section-reverse:after {
  content: '';
  display: inline-flex;
  position: absolute;
  width: 118px;
  @apply h-3;
  @apply xl:h-6;
  right: -28px;
  top: 32px;
  z-index: -1;
  @apply bg-helper;
}

.out-link {
  @apply font-bold;
  @apply border-b-2;
  @apply border-nav;
}

.text-shadow {
  text-shadow: 0 4px 4px rgba(0, 0, 0, 0.1);
}

.hover-shadow:hover {
  box-shadow: 0 6px 12px rgba(0, 255, 194, 0.4);
  backdrop-filter: blur(16px);
}

.prize > div:nth-child(3n+2) {
  position: relative;
  top: -33%;
}
